
.apropos-background-color {
    background-color: var(--second-color);
    background-image: url(/img/a_propos_background.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.apropos-flex {
    display: flex;
    justify-content: center;
}

#apropos {
    margin-top: 0;
    text-align: center;
    padding: var(--padding-section) 10px;
}

.apropos-flex p {
    line-height: 200%;
}


.apropos-flex p:before {
    content: "“";
    color: var(--title-color);
    font-size: 100pt;
    vertical-align: bottom;
}

.apropos-flex p:after {
    content: "”";
    color: var(--title-color);
    font-size: 100pt;
    vertical-align: -250%;
    padding-left: 10px;
}

/*.apropos-flex p:before {
    content: url("../img/left-quote.png");
    padding-right: 24px;
}

.apropos-flex p:after {
    content: url("../img/right-quote.png");
    padding-left: 24px;
    float: right;
}*/

@media screen and (max-width: 1024px) {
    .apropos-flex p {
        font-size: 12pt;
        line-height: 150%;

    }

    .apropos-flex p:before {
        vertical-align: -200%;
    }

    .apropos-flex p:after {
        vertical-align: -400%;
    }
}
