
.apropos-background-color {
    background-color: var(--second-color);
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.apropos-flex {
    display: flex;
    justify-content: center;
}

#apropos {
    margin-top: 0;
    text-align: center;
    padding: var(--padding-section);
}

.apropos-flex p {
    max-width: 50%;
    line-height: 200%;
}

.apropos-flex p:before {
    content: url("../img/left-quote.png");
    padding-right: 24px;
}

.apropos-flex p:after {
    content: url("../img/right-quote.png");
    padding-left: 24px;
    float: right;
}

@media screen and (max-width: 768px) {
    .apropos-flex p {
        min-width: 80%;
        line-height: 150%;
    }
}
