/* experience and formation */


.experience {
    background-color: var(--main-color);
}

.formation {
    background-color: var(--second-color);
}

.containers {
    width: 100px;
    height: 100px;
    display: inline;
    margin-bottom: calc(var(--spacing)*6);
}


.date {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    margin-bottom: var(--spacing2);
    margin-left: calc(var(--spacing)*10);
    background-color: var(--text-light);
}


.title {
    text-align: center;
}

.school {
    margin-left: calc(var(--spacing)*10);
    margin-bottom: calc(var(--spacing)*12);
    margin-right: 0;
}

.cadre {
    display: inline-block;
    width: 70%;
    margin-bottom: 0;
}

.dateDiploma h3 {
    display: inline-block;
    width: 100%;
    height: 30px;
    background-color: var(--text-light);
    opacity: 90%;
    border: solid 20px var(--text-light);
    margin-left: calc(var(--spacing)*12);
    margin-bottom: 0;
    border-top-left-radius: var(--spacing);
    border-top-right-radius: var(--spacing);
}

.dateDiploma p {
    display: inline-block;
    width: 100%;
    height: 30px;
    background-color: var(--title-color);
    opacity: 90%;
    border: solid 20px var(--title-color);
    margin-left: calc(var(--spacing)*12);
    border-bottom-left-radius: var(--spacing);
    border-bottom-right-radius: var(--spacing);
}

.row {
    display: inline-block;
    border-right: solid 5px var(--text-light);
}

.school h3 {
    background-color: var(--title-color);
    margin-bottom: 0;
}
.quests h3 {
    display: inline-block;
    width: 100%;
    height: 30px;
    background-color: var(--title-color);
    opacity: 90%;
    border: solid 20px var(--title-color);
    margin-bottom: 0;
    margin-left: calc(var(--spacing)*12);
    border-top-left-radius: var(--spacing);
    border-top-right-radius: var(--spacing);
}

.quests p {
    display: inline-block;
    width: 100%;
    height: 30px;
    background-color: var(--text-light);
    opacity: 90%;
    border: solid 20px var(--text-light);
    margin-left: calc(var(--spacing)*12);
    border-bottom-left-radius: var(--spacing);
    border-bottom-right-radius: var(--spacing);
}

