/* experience and formation */


.experience {
    background-color: var(--main-color);
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
}

.formation {
    background-color: var(--second-color);
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
    margin-left: 0;
    margin-right: 0;
}

.containers {

    display: flex;
    flex-direction: row;
    margin-bottom: 0;
    margin-top:0;


}


.containersDate {
    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-bottom:0;
    margin-left: var(--spacing2);
}

.date {

    padding-top: 30px;
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 100px;
    height: 100px;
    text-align: center;
    margin-bottom: 0;
    color: var(--text-light);
    font-size: 16pt;
}


.title {
    text-align: center;
    margin-top:0;
}


.cadre {
    display: flex;
    margin-bottom: 0;
    opacity: 90%;
}

.historyDate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}

.dateQuests{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}
.dateDiploma h3 {
    display: flex;
    flex-direction: row;
    width: 70vw;
    height: 30px;
    background-color: var(--title-color);
    opacity: 90%;
    border: solid 18px var(--title-color);
    margin-bottom: 0;
    border-top-left-radius: var(--spacing);
    border-top-right-radius: var(--spacing);
}

.dateDiploma p {
    display: flex;
    width: 70vw;
    height: 30px;
    background-color: var(--text-light);
    opacity: 90%;
    border: solid 18px var(--text-light);
    border-bottom-left-radius: var(--spacing);
    border-bottom-right-radius: var(--spacing);
    margin-top: 0;
}

.row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: solid 4px var(--text-light);
    margin-left: var(--spacing2);
    margin-right: var(--spacing2);
    opacity: 80%;
}

.quests h3 {
    display: flex;
    flex-direction: row;
    width: 70vw;
    height: 30px;
    background-color: var(--title-color);
    opacity: 90%;
    border: solid 18px var(--title-color);
    margin-bottom: 0;
    border-top-left-radius: var(--spacing);
    border-top-right-radius: var(--spacing);

}

.quests p {
    display: flex;
    flex-direction: row;
    width: 70vw;
    height: 30px;
    background-color: var(--text-light);
    opacity: 90%;
    border: solid 18px var(--text-light);
    margin-top: 0;
    border-bottom-left-radius: var(--spacing);
    border-bottom-right-radius: var(--spacing);

}

@media screen and (max-width: 800px) {
    .formation{
        width: 100vw;
    }
    .experience{
        width: 100vw;
    }
    .containers {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-bottom: 70px;
        margin-right:0;

    }

    .containersDate{
        margin-left: 0;

    }
    .row{
        display:none;
        margin: 0;
    }
    .cadre {
        margin-left: 0;
    }


}