/* -------------------------------------  FOOTER ------------------------------------------- */


footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 75px;
    margin: -5px 0 0 0;
    background-color: var(--text-dark);
    color: var(--text-light);
    padding-bottom: var(--spacing);
}

footer p {
    margin-bottom: 0;
}

#social-media {
    display: flex;
    align-items: center;
}

#social-media img {
    height: 24px;
    width: 24px;
    margin-left: var(--spacing);
    position: relative;
    top: 3px;
}

footer a {
    font-family: var(--p-font);
}

footer a:hover {
    color: var(--title-color);
}

footer p {
    margin-top: 0;
}

@media screen and (max-width: 768px) {
    .footer-div {
        width: 100%;
        padding: var(--spacing2) var(--spacing2);
    }

    footer {
        padding-bottom: 40px;
    }

    #contact-p {
        padding: 0 20px;
    }
}