/* ----------------------------- NAV BAR ----------------------------------------------- */
.nav {
    background-color: var(--main-color);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100px;
    z-index: 8;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 10px var(--shadows-color);
}

.backgroundMenu {
    display: flex;
    justify-content: center;
}

.logoKaamelott {
    width: 80px;
    height: 80px;
    padding-left: var(--spacing);
    padding-top: var(--spacing);
}

.menu-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 20px;
}

.menu-items a {
    background: var(--second-color);
    padding: 5px 10px;
    min-width: 100px;
    font-family: var(--title-font);
    text-decoration: none;
    vertical-align: middle;
    margin-left: 20px;
    text-align: center;
    border: solid 1px var(--text-light);
    background: none;
    color: var(--text-light);
    height: 40px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 5px;
}

.menu-items a:hover {
    background: var(--second-color);
    color: var(--title-color);
}

.print{
    display: flex;
    background-image: url("/../img/printer-.png");
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 0;
}
.print a {
    border: none;
    background: none;
    margin-left: 0;
}

.print:hover {
    opacity: 0.6;
}

.print a:hover {
    background: none;
}

.close{
    display: none;
}

.iconFennel {
    display: none;
}
@media screen and (max-width: 1500px) {
    .menu-items a {
        background: var(--second-color);
        padding: 5px 10px;
        min-width: 50px;
        font-family: var(--title-font);
        text-decoration: none;
        vertical-align: middle;
        margin-left: 20px;
        text-align: center;
        border: solid 1px var(--text-light);
        background: none;
        color: var(--text-light);
        height: 40px;
        font-size: 12px;
        font-weight: 700;
        border-radius: 5px;
    }

    .print{
        display: flex;
        background-image: url("/../img/print 40_40.png");
        background-repeat: no-repeat;
        background-position: center;
        margin-left: 0;
    }
    .print a {
        border: none;
        background: none;
        margin-left: 20px;
        width: 20px;
    }

    .print:hover {
        opacity: 0.6;
    }

    .print a:hover {
        background: none;
    }
}

@media screen and (max-width: 1150px) {
    #aboutsUsID {
        display: flex;
    }
    #formationId {
        display: flex;
    }
    #experienceId {
        display: flex;
    }
    .menu-items {
        display: none;
    }

    .divLogo {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        min-width: 1%;
        min-height: 1%;
        max-width: 100%;
        max-height: 100%;
    }

    .iconFennel {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        min-width: 1%;
        min-height: 1%;
        max-width: 100%;
        max-height: 90%;
        z-index: 3;
    }
    .iconFennel a {
        margin-right: var(--spacing);
    }

    .backgroundMenu {
        width: 95%;
        max-height: 80%;
    }

    .menu-items:target {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100vw;
        height: 100vh;
        background-color: var(--shadows-background);
        border-radius: 30px;
        box-shadow: 0 0 10px var(--shadows-color);
        padding-right: 0;
        z-index: 5;
    }

    .bouton {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5%;
        background-color: var(--second-color);
    }

    .bouton a {
        font-size: 20px;
        font-family: var(--title-font);
        min-width: 50vw;
        text-align: center;
        margin-left: 0;
    }

    .close {
        display: flex;
        justify-content: center;
        background-image: url("/../img/sword_icon_bar_nav.png");
        background-repeat: no-repeat;
        background-position: center;
        margin-left: 0;
        width: 50px;
        height: 100px;
    }
    .close a {
        border: none;
        margin-left: 0;
        padding-top: 68px;
    }

    .close a:hover {
        background: none;
    }
}

