/* ------------------------------------------REALISATIONS ---------------------------------------------*/
.realisations-background-color {
    background-color: var(--second-color)
}

.carousel-item p {
    font-family: var(--title-font);
    color: var(--text-light);
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    font-size: 20px;
}

#realisations {
    padding: var(--padding-section) 0;
}

.realisations-background-color h2 {
    text-align: center;
}

#carousel-area {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}

#carousel-area::after {
    content: "";
    padding-top: 37.5%;
    display: block;
}

.carousel-item {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 25px 50px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    background-size: 100vw;
    border-radius: 20px;
}

.arrow {
    border: solid var(--title-color);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 16px;
}

.arrow-prev {
    transform: translateY(-50%) rotate(135deg);
    position: absolute;
    top: 50%;
    left: 20px;
}

.arrow-next {
    transform: translateY(-50%) rotate(-45deg);
    position: absolute;
    top: 50%;
    right: 20px;
}

[id^="item"] {
    display: none;
}

.item-sirop {
    z-index: 3;
    opacity: 1;
    background: url("../img/sirop.jpg");
    background-size: cover;
}

.item-unagi {
    background: url("../img/unagi.jpeg");
    background-size: cover;
}

.item-fishing {
    background: url("../img/fishing.jpg");
    background-size: cover;
}

*:target ~ .item-sirop {
    opacity: 0;
}

#item-sirop:target ~ .item-sirop {
    opacity: 1;
}

#item-unagi:target ~ .item-unagi, #item-fishing:target ~ .item-fishing {
    z-index: 4;
    opacity: 1;
}

@media screen and (max-width: 800px) {
    .carousel-item p {
        font-size: 12px;
    }
}