#recommandations {
    background-color: var(--main-color);
    background-image: url("../img/texture_header.jpg");
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 120% 120%;
    font-family: var(--p-font);
    color: var(--text-light);
    padding: var(--padding-section) 0;
    line-height: var(--line-spacing);
}

.titleRecommandation {
    text-align: center;
    margin-top: var(--spacing3);
    margin-bottom: 40px;
}
.container {
    display: flex;
    justify-content: start;
    flex-direction: column;
 }

.imageArthur {
    border-radius: 50%;
    border: 4px solid var(--title-color);
    width: 150px;
    height: 150px;
    margin-left: var(--spacing);
}

.arthur {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: var(--spacing2);
    margin-bottom: var(--spacing2);
}

.recommandationArthur {
    margin-left: var(--spacing);
    width: 60vw;
    padding-left: 20px;
}

.recommandationArthur p:before {
    content: "\‟" ;
    color: var(--title-color);
    font-size: 25pt;
}

.recommandationArthur p:after {
    content: "\”" ;
    color: var(--title-color);
    font-size: 25pt;
}

.imageKaradoc {
    border-radius: 50%;
    border: 4px solid var(--title-color);
    width: 150px;
    height: 150px;
    margin-left: var(--spacing);
}

.karadoc {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: var(--spacing2);
    margin-bottom: var(--spacing2);
}

.recommandationKaradoc {
    margin-left: var(--spacing);
    width: 60vw;
    padding-right: 20px;
}

.recommandationKaradoc p:before {
    content: "\‟" ;
    color: var(--title-color);
    font-size: 25pt;
}

.recommandationKaradoc p:after {
    content: "\”" ;
    color: var(--title-color);
    font-size: 25pt;
}

.imageLeodagan {
    border-radius: 50%;
    border: 4px solid var(--title-color);
    width: 150px;
    height: 150px;
    margin-left: var(--spacing);
}

.leodagan {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: var(--spacing2);
}

.recommandationLeodagan {
    margin-left: var(--spacing);
    width: 60vw;
    padding-left: 20px;
}

.recommandationLeodagan p:before {
    content: "\‟" ;
    color: var(--title-color);
    font-size: 25pt;
}

.recommandationLeodagan p:after {
    content: "\”" ;
    color: var(--title-color);
    font-size: 25pt;
}

@media screen and (max-width: 1150px) {
    h4 {
        margin-top: 0;
    }

    .arthur {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: var(--spacing3);
    }

    .recommandationArthur {
        width: auto;
        padding: var(--spacing);
    }

    .karadoc {
        display: flex;
        flex-wrap: wrap-reverse;
        padding-bottom: var(--spacing3);
    }

    .recommandationKaradoc {
        width: auto;
        padding: var(--spacing);
    }

    .leodagan {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: var(--spacing3);
    }
    .recommandationLeodagan {
        width: auto;
        padding: var(--spacing);
    }
}

