:root {
    --main-color: #1B4555;
    --second-color: #4B8C92;
    --text-dark: #0A191F;
    --text-light: #FDF7EC;
    --title-color: #F3CB83;

    --spacing: 8px;
    --spacing2: calc(var(--spacing)*2);
    --spacing3: calc(var(--spacing)*4);
    --title-font: 'Eagle Lake', cursive;
    --p-font: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--title-font);
    color: var(--title-color);
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 36px;
}

h1::first-letter {
    font-size: 70px;
    letter-spacing: -10px;
}

h2 {
    font-size: 24px;
}

h2::first-letter {
    font-size: 40px;
}

h3 {
    font-size: 20px;
    color: var(--text-dark);
}
p {
    font-family: var(--p-font);
}

.text-light {
    font-family: var(--p-font);
    color: var(--text-light);
}

.text-dark {
    color: var(--text-dark);
}