:root {
    --main-color: #1B4555;
    --second-color: #4B8C92;
    --text-dark: #0A191F;
    --text-light: #FDF7EC;
    --title-color: #F3CB83;

    --spacing: 8px;
    --spacing2: calc(var(--spacing)*2);
    --spacing3: calc(var(--spacing)*4);
    --title-font: 'Eagle Lake', cursive;
    --p-font: 'Roboto', sans-serif;
}

html {
    box-sizing: border-box;
}
body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--title-font);
    color: var(--title-color);
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 36px;
}

h1::first-letter {
    font-size: 70px;
    letter-spacing: -10px;
}

h2 {
    font-size: 24px;
}

h2::first-letter {
    font-size: 40px;
}

h3 {
    font-size: 20px;
    color: var(--text-dark);
}
p {
    font-family: var(--p-font);
}

.text-light {
    font-family: var(--p-font);
    color: var(--text-light);
}

.text-dark {
    color: var(--text-dark);
}

.realisations-background-color {
    background-color: var(--main-color)
}

.real-img {
    background-clip: padding-box;
    border: solid black 2px;
    min-width: 200px;
    min-height: 200px;
    max-width: 200px;
    max-height: 200px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
}

.sloubi-img {
    background-image: url("../img/tavern-dices.jpg");
    background-size: cover;
}

.unagi-img {
    background-image: url("../img/unagi.jpg");
    background-size: cover;
}

.fishing-img {
    background-image: url("../img/fishing.jpg");
    background-size: cover;
}

.real-flex p {
    display: none;
}

.real-img:hover #p-sirop {
    display: block;
}

.real-img:hover #p-unagi {
    display: block;
}

.real-img:hover #p-fishing {
    display: block;
}

.sloubi-img:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/tavern-dices.jpg");
}

.unagi-img:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/unagi.jpg");
}

.fishing-img:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/fishing.jpg");
}

.real-flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media screen and (max-width: 480px) {
    .real-flex p {
        display: flex;
        color: var(--text-light);
    }

    .sloubi-img {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/tavern-dices.jpg");
    }

    .unagi-img {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/unagi.jpg");
    }

    .fishing-img {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/fishing.jpg");
    }


}