
@import url("navbar.css");
@import url("header.css");
@import url("aboutme.css");
@import url("skills.css");
@import url("realisations.css");
@import url("experiences-formation.css");
@import url("contact.css");
@import url("footer.css");


/* -----------------------------------------------  GENERAL ------------------------------------------------*/

:root {
    --main-color: #1b4555;
    --second-color: #4B8C92;
    --text-dark: #0A191F;
    --text-light: #FDF7EC;
    --title-color: #f3cb83;
    --shadows-color: rgba(0, 0, 0, 0.55);
    --shadows-background: rgba(27, 69, 85, 0.55);
    --spacing: 8px;
    --spacing2: calc(var(--spacing) * 2);
    --spacing3: calc(var(--spacing) * 4);
    --title-font: 'Eagle Lake', cursive;
    --p-font: 'Roboto', sans-serif;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
}


h1, h2, h3, h4, h5, h6 {
    font-family: var(--title-font);
    color: var(--title-color);
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 42px;
}

h1::first-letter {
    font-size: 70px;
    letter-spacing: 0;
}

h2 {
    font-size: 24px;
}

h2::first-letter {
    font-size: 40px;
}

h3 {
    font-size: 20px;
    color: var(--text-dark);
}

p {
    font-family: var(--p-font);
}

.text-light {
    font-family: var(--p-font);
    color: var(--text-light);
}

.text-dark {
    color: var(--text-dark);
}




















/* ----------------------------- NAV BAR -----------------------------------------------

.close{
    display: none;
}

.nav {
    background-color: var(--main-color);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100px;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 30px var(--shadows-color);
}

.backgroundMenu {
    display: flex;
    justify-content: center;
}

.logoKaamelott {
    width: 100px;
    height: 100px;
}

.menu-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 20px;
}

.menu-items a {

    background: var(--second-color);
    padding: 5px 10px;
    min-width: 100px;
    font-family: var(--title-font);
    text-decoration: none;
    vertical-align: middle;
    margin-left: 20px;
    text-align: center;
    border: solid 1px var(--text-light);
    background: none;
    color: var(--text-light);
    height: 40px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 5px;
}

.menu-items a:hover {
    background: var(--second-color);
    color: var(--title-color);
}

.iconFennel {
    display: none;
}

@media screen and (max-width: 800px) {

    .menu-items {
        display: none;
    }

    .divLogo {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        min-width: 1%;
        min-height: 1%;
        max-width: 100%;
        max-height: 100%;
    }

    .iconFennel {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 5px;
        min-width: 1%;
        min-height: 1%;
        max-width: 100%;
        max-height: 100%;
    }

    .backgroundMenu {
        width: 95%;
        max-height: 80%;

    }

    .menu-items:target {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 95vw;
        height: 80vh;
        background-color: var(--shadows-background);
        border-radius: 30px;
        box-shadow: 0 0 30px var(--shadows-color);
        padding-right: 0;
    }

    .bouton {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5%;
        background-color: var(--second-color);
    }

    .bouton a {
        font-size: 20px;
        font-family: var(--title-font);
        min-width: 50vw;
        text-align: center;
        margin-left: 0;

    }

    .menu-items a:hover {
        background: var(--main-color);
        color: var(--title-color);
    }
}
*/


/* ----------------------------------------    HEADER -----------------------------------------


.headerGlobal {
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    align-items: center;
}

.headerBox {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    text-align: center;
}

.makeItRound {
    height: 60%;
    width: auto;
    border-radius: 50%;
    border: 4px solid var(--title-color);
    margin: 10%;
}



.headerGlobal {
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    align-items: center;
>>>>>>> skills-animCSS
}

.headerBox {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    text-align: center;
}

.makeItRound {
    height: 60%;
    width: auto;
    border-radius: 50%;
    border: 4px solid var(--title-color) ;
    margin: 10%;
}

.visitCard {
    justify-content: center;
    align-items: center;
    display: block;
}

.socialMediaIcon {
    width: 24px;
    height: auto;
    margin: var(--spacing2) 4px;
}

.headerJob {
    font-size: 32px;
    color: var(--text-light);
}

.headerContact {
    color: var(--text-light);
    font-family: var(--p-font);
    font-size: 14px;
    padding-top: var(--spacing);
    text-decoration: none;
}

.mailAdress::before {
    content: url("../img/scroll.png");
    position: relative;
    top: 10px;
}

.carrierPigeon::before {
    content: url("../img/pigeon.png");
    position: relative;
    top: 10px;

}  */


/*
!* ------------------------------------------REALISATIONS ---------------------------------------------*!
.realisations-background-color {
    background-color: var(--second-color)
}

.realisations-background-color h2 {
    text-align: center;
}

.real-img {
    background-clip: padding-box;
    border: solid black 2px;
    min-width: 200px;
    min-height: 200px;
    max-width: 200px;
    max-height: 200px;
    display: flex;
    align-items: flex-end;
    margin: 20px;
}

.sloubi-img {
    background-image: url("../img/tavern-dices.jpg");
    background-size: cover;
}

.unagi-img {
    background-image: url("../img/unagi.jpg");
    background-size: cover;
}

.fishing-img {
    background-image: url("../img/fishing.jpg");
    background-size: cover;
}

.real-flex p {
    display: none;
}

.real-img:hover #p-sirop {
    display: block;
}

.real-img:hover #p-unagi {
    display: block;
}

.real-img:hover #p-fishing {
    display: block;
}

.sloubi-img:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/tavern-dices.jpg");
}

.unagi-img:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/unagi.jpg");
}

.fishing-img:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/fishing.jpg");
}

.real-flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
*/


/* --------------------------------------- ABOUT ---------------------------------------------- */

/*

.apropos-background-color {
    background-color: var(--second-color);
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.apropos-flex {
    display: flex;
    justify-content: center;
}

#apropos-h2 {
    margin-top: 0;
    text-align: center;
}

.apropos-flex p {
    max-width: 50%;
}

.apropos-flex p:before {
    content: url("../img/left-quote.png");
    padding-right: 24px;
}

.apropos-flex p:after {
    content: url("../img/right-quote.png");
    padding-left: 24px;
    float: right;
}

@media screen and (max-width: 480px) {
    .apropos-flex p {
        min-width: 80%;
    }
}
*/

/*  -----------------------------   SKILLS    --------------------------------------------------*/

/*

.skillsSection {
    background-color: var(--main-color);
    padding: 20px 20px 40px;
}

.skillsMainTitle {
    text-align: center;
    margin-top: var(--spacing3);
    margin-bottom: 40px;
}

.skillContainerGlobal {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.skillContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
}

.skillIconSwords {
    border: 2px solid var(--title-color);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    background: url("/img/swords(1).png") no-repeat center;
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.skillIconCastle {
    border: 2px solid var(--title-color);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    background: url("/img/castle(1).png") no-repeat center;
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.skillIconOld {
    border: 2px solid var(--title-color);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    background: url("/img/retirement.png") no-repeat center;
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.skillsText {
    color: var(--text-light);
    width: 80%;
    margin-bottom: var(--spacing3);
}

.skillIconOld:hover {
    -webkit-transform: rotate(15deg)scale(1);
    transform: rotate(15deg)scale(1);

}

.skillIconSwords:hover {
    -webkit-transform: rotate(15deg) scale(1);
    transform: rotate(15deg) scale(1);
}

.skillIconCastle:hover {
    -webkit-transform: rotate(15deg) scale(1);
    transform: rotate(15deg) scale(1);
}

.skillsTitle {
    color: var(--text-light);
    margin: var(--spacing2);
    padding-top: var(--spacing2);
}

.skillsText {
    color: var(--text-light);
    width:80%;
    margin-bottom: var(--spacing3);
}
*/
/*

!* --------------------------------------------  CONTACT --------------------------------------   *!

.title-dark {
    color: var(--text-dark);
}

.title-light {
    color: var(--text-light);
}

#contact-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


@media screen and (max-width: 768px) {
    !*
    .real-flex p {
        display: flex;
        color: var(--text-light);
    }

    .sloubi-img {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/tavern-dices.jpg");
    }

    .unagi-img {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/unagi.jpg");
    }

    .fishing-img {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/fishing.jpg");
    }
*!

    #contact-flex div {
        width: 100%;
    }
}

#contact-flex div {
    min-width: 50%;
}

#contact-flex-left {
    background-color: var(--main-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#contact-flex-left h2, p {
    margin-bottom: 60px;
}

#contact-social-media {
    margin-bottom: 50px;
}

#contact-social-media img {
    margin: 20px 10px 0;
    height: 48px;
    width: 48px;
}

#contact-address {
    text-align: center;
    width: 300px;
    margin: 0 auto;
}

#contact-p {
    overflow-wrap: break-word;
}

#contact-flex-right {
    background-color: var(--second-color);
    text-align: center;
}

form {
    padding: 70px 0;
}

label {
    display: block;
    color: var(--text-light);
    font-family: var(--title-font);
    margin-bottom: var(--spacing2);
}

form input, select, textarea {
    width: 70%;
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
    border-bottom: solid 2px var(--text-light);
    height: 40px;
    margin-bottom: 40px;
    color: var(--text-light);
    border-radius: 5px;
}

input, select, textarea {
    padding: 0 8px;
}

::placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-family: var(--p-font);
}

#motive {
    color: var(--text-light);
}

#textarea {
    padding-top: var(--spacing);
    height: 100px;
}

form button {
    min-width: 30%;
    border: solid 2px var(--text-light);
    background: none;
    color: var(--text-light);
    height: 40px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 5px;
}

#contact-button {
    margin: 0 auto;
}

form button:hover {
    background-color: var(--main-color);
    border: solid 2px var(--title-color);
    color: var(--title-color);
}

input:focus {
    border: solid 2px var(--title-color);
}

.icon-phone::before {
    content: url(/img/pigeon.png);
}

.icon-mail::before {
    content: url(/img/scroll.png);
}

.icon-home::before {
    content: url(/img/castle.png);
}

.icon-phone::before, .icon-mail::before, .icon-home::before {
    margin-right: 15px;
    position: relative;
    top: 5px;
}
*/


/*!* -------------------------------------  FOOTER ------------------------------------------- *!


footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 75px;
    margin: -5px 0 0 0;
    background-color: var(--text-dark);
    color: var(--text-light);
    padding-bottom: var(--spacing);
}

footer p {
    margin-bottom: 0;
}

#social-media {
    display: flex;
    align-items: center;
}

#social-media img {
    height: 24px;
    width: 24px;
    margin-left: var(--spacing);
    position: relative;
    top: 3px;
}

footer a {
    font-family: var(--p-font);
}

footer a:hover {
    color: var(--title-color);
}

footer p {
    margin-top: 0;
}

@media screen and (max-width: 768px) {
    .footer-div {
        width: 100%;
        padding: var(--spacing2) var(--spacing2);
    }

    footer {
        padding-bottom: 40px;
    }

    #contact-p {
        padding: 0 20px;
    }
}*/

/*
!* experience and formation *!


.experience {
    background-color: var(--main-color);
}

.formation {
    background-color: var(--second-color);
}

.containers {
    width: 100px;
    height: 100px;
    display: inline;
    margin-bottom: calc(var(--spacing)*6);
}


.date {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    margin-bottom: var(--spacing2);
    margin-left: calc(var(--spacing)*10);
    background-color: var(--text-light);
}


.title {
    text-align: center;
}

.school {
    margin-left: calc(var(--spacing)*10);
    margin-bottom: calc(var(--spacing)*12);
    margin-right: 0;
}

.cadre {
    display: inline-block;
    width: 70%;
    margin-bottom: 0;
}

.dateDiploma h3 {
    display: inline-block;
    width: 100%;
    height: 30px;
    background-color: var(--text-light);
    opacity: 90%;
    border: solid 20px var(--text-light);
    margin-left: calc(var(--spacing)*12);
    margin-bottom: 0;
    border-top-left-radius: var(--spacing);
    border-top-right-radius: var(--spacing);
}

.dateDiploma p {
    display: inline-block;
    width: 100%;
    height: 30px;
    background-color: var(--title-color);
    opacity: 90%;
    border: solid 20px var(--title-color);
    margin-left: calc(var(--spacing)*12);
    border-bottom-left-radius: var(--spacing);
    border-bottom-right-radius: var(--spacing);
}

.row {
    display: inline-block;
    border-right: solid 5px var(--text-light);
}

.school h3 {
    background-color: var(--title-color);
    margin-bottom: 0;
}
.quests h3 {
    display: inline-block;
    width: 100%;
    height: 30px;
    background-color: var(--title-color);
    opacity: 90%;
    border: solid 20px var(--title-color);
    margin-bottom: 0;
    margin-left: calc(var(--spacing)*12);
    border-top-left-radius: var(--spacing);
    border-top-right-radius: var(--spacing);
}

.quests p {
    display: inline-block;
    width: 100%;
    height: 30px;
    background-color: var(--text-light);
    opacity: 90%;
    border: solid 20px var(--text-light);
    margin-left: calc(var(--spacing)*12);
    border-bottom-left-radius: var(--spacing);
    border-bottom-right-radius: var(--spacing);
}

*/
